/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
/.yarn/sdks
/.yarn/cache
/.pnp.*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules
.DS_Store
dist
dist-ssr
*.local

coverage